USERNAME: {{rave_user}}
PASSWORD: {{rave_password}}
API: https://ccredc.mdsol.com/RaveWebServices/studies/000048({{rave_env}})/datasets/regular
OUTPUT_FOLDER_RAW: ./gmb_raw_data_files/
OUTPUT_FOLDER_TRANSFORMED: ./gmb_transformed_data_files/
DATA_MODEL_NODE_FILE: ./node_file/000048_Model.yml
S3_BUCKET: cloudone-gmb-nonprod-metadata
RAVE_DATA_VERSION: {{rave_data_version}}
