USERNAME: {{rave_user}}
PASSWORD: {{rave_password}}
API: https://ccredc.mdsol.com/RaveWebServices/studies/000048({{rave_env}})/datasets/regular
OUTPUT_FOLDER: ./raw_data/
OUTPUT_NODE_FOLDER: ./transformed_data/
NODE_FILE: ./node_file/000048_Model.yml
RAVE_DATA_VERSION: {{rave_data_version}}
S3_BUCKET: {{bucket_name}}
